.container{
    .planner{

        .planner-imgs{

        }
        .planner-text{
            h2{

            }
            p {

            }
        }
    }

    .booking{

        .bookingimg{
            width:48%;
            display: block;
            img{
                max-width: 100%;
                text-align: center;
                object-fit: fill;
                
            }
        }
        
        margin: 2rem 0;
        .top-row{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;            
            .top-row-text{
                
                width: 48%;  
                h3 {

                }

                p {

                }

            } //ends top-row-text
        
        } //ends top-row

        .bottom-row{
            display: flex;
            justify-content: space-around;
        

            .bottom-row-text{
                width:48%;
                h3{
                    
                }

                p {

                }

            } //ends bottom-row-text

        } //ends bottom-row
    }

    .save {

        img{

        }

        div {

            h3{

            }

            p {

            }

        } //end div

    }//end save

    .CTA {
        button{

        }

    }//end .CTA

}