// variables start below 

@mobile: ~"(max-width: 500px)"; 
@tablet: ~"(max-width: 800px)"; 

// color schemes
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab&display=swap');


@headings-font:'Raleway', ;
@txt-font: 'Roboto Slab', ;


// best hexcode color: #696969
@font-color: dimgrey;
@bg-color: cyan;
@hilights: #FF8000;